th{
    color:darkorchid;
    font:400;
}
td{
    color:crimson;
    display:flex;
    justify-content:center;
    padding: 4px;
    border-radius: 4px;
    column-span: all;
}
.table
{
    background-color: antiquewhite;
    border:2;
    border-color: black;
    display:flex;
    flex-direction: row;
    width: 30vw;
    height:30vh;
    justify-content: center;
    justify-items: center;
    border-radius: 7px;
    column-span: all;
    padding: 4px;
}
body{
     width:80vw;
     height:80vh;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
